@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;

  box-sizing: border-box;
  height: 100%;

  --color-light: hsl(0, 0%, 100%);
  --color-medium: hsl(0, 0%, 60%);
  --color-dark: hsl(0, 0%, 0%);

  overflow: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
input,
button {
  margin: 0;
}

h3,
input,
button {
  margin-block: 0.5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
}

h3 span {
  text-decoration: underline;
}
button {
  padding: 0;
}

input {
  font-size: 1.125rem;
  font-weight: 200;
  width: 100%;
  border: 0.0625rem solid var(--color-dark);
  padding: 0.3em;

  margin-bottom: 2rem;
}

input::placeholder {
  font-style: italic;
  color: var(--color-medium);
}

.btn-block {
  background: var(--color-light);
  color: var(--color-dark);
  border: 0.0625rem solid var(--color-dark);
  font-size: 1.125rem;
  padding: 0.25em 1em;
}

.btn-block.selected {
  background: var(--color-dark);
  color: var(--color-light);
  font-weight: 500;
  text-decoration: underline;
}

.btn-arrow {
  background: transparent;
  color: var(--color-dark);
  border: none;
  font-size: 1.5rem;
  margin-left: 0.5em;

  display: flex;
  align-items: center;
}

.btn-arrow span {
  font-size: 2rem;
  margin-left: 0.2em;
}

.hidden {
  visibility: hidden !important;
}

/* General layout */
.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.start-screen,
.game-screen {
  position: absolute;
  width: 100%;
  max-width: 37rem;

  display: flex;
  flex-direction: column;

  justify-content: center;

  padding-inline: 1rem;
  padding-block: 1rem;

  min-height: 100vh;
  gap: 4rem;

  transition: transform 250ms ease-out;
}

.start-screen.inactive {
  transform: translateX(-120vw);
}

.game-screen.inactive {
  transform: translateX(120vw);
}

/* Start screen */
.player2-buttons {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.player2-buttons button {
  flex: 1;
  padding-inline: 0.5em;
}

.start {
  margin-left: auto;
}

/* Game screen */
.player {
  font-weight: 700;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}

.btn-board {
  margin: 0;
  aspect-ratio: 1;
  font-size: 3rem;
  font-weight: 700;

  background-color: transparent;
  color: transparent;
  border: 0.0625rem dashed var(--color-medium);
}

.btn-board.active {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 0.0625rem solid var(--color-dark);
  box-shadow: 0.125rem 0.125rem 0 0.03125rem var(--color-dark);
}

.btn-board.win {
  background-color: var(--color-dark);
  color: var(--color-light);
  box-shadow: 0.0625rem 0.0625rem 0 0.01rem var(--color-light),
    0.15rem 0.15rem 0 0.03125rem var(--color-dark);
}

.game-buttons {
  display: flex;
  margin-left: auto;
}

.rotate-225deg {
  transform: translateY(0.0625rem) rotate(225deg);
}

.start-screen.inactive,
.game-screen.inactive {
  visibility: hidden;
}

/* Media Queries */
@media (min-width: 1000px) {
  .start-screen,
  .game-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 8rem;
    padding-inline: 2rem;
  }

  .start-screen {
    border-right: 1px dashed var(--color-dark);
    max-width: 27rem;
  }

  .start-screen.inactive {
    transform: none;
    visibility: visible;
  }

  .game-screen {
    margin-inline: auto;
  }

  .btn-arrow.new {
    display: none;
  }
}

@media (hover: hover) {
  .btn-arrow:hover,
  .btn-block:hover {
    font-weight: 500;
  }

  .btn-board.hoverable:hover {
    border-style: solid;
  }
}

/* Specific handling of compatibility issues  */
@supports not (aspect-ratio: 1) {
  .btn-board {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-board::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-top: 100%;
  }
}

@supports not (margin-block: auto) {
  h3,
  button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  input {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .status,
  header {
    margin-bottom: 4rem;
  }

  .game-buttons,
  .start {
    margin-top: 4rem;
  }
}

@supports not (margin-inline: auto) {
  .game-screen {
    margin-left: auto;
    margin-right: auto;
  }
}

@supports not (padding-block: auto) {
  .start-screen,
  .game-screen {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: 1000px) {
    .start-screen,
    .game-screen {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

@supports not (padding-inline: auto) {
  .start-screen,
  .game-screen {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .player2-buttons button {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  @media (min-width: 1000px) {
    .start-screen,
    .game-screen {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
